@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$base-font: 'Roboto';
html{
  font-family: $base-font;
  //background-color:lightslategray;
}
/* Main Page Styling */
.header{
  text-align: center;
  font-size: 30px;
}
/* Main Page Styling End */

/* Grid Styling */

.skiplist-form{
  margin-top: 100px;
  text-align: center;
}

.skiplist{
  margin: 0;
  padding: 0;
}

.modified-b{
  line-height: 20px;
}

.node-square{
  color: black;
  margin: 10px;
  width:60px;
  height:60px;
  outline-width: 2px;
  outline-color: black;
  outline-style: solid;

  &__text{
    text-align: center;
  }

  @media only screen and (max-width: 1000px) {
    margin: 4px;
    width:40px;
    height:40px;
    font-size: 10px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 5px;
    width: 20px;
    height:20px;
    margin: 5px;
  }
}
.color-box{
  &-purple{
    color:white;
    background-color: purple;
  }
  &-blue{
    color:white;
    background-color: blue;
  }
}