@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$base-font: 'Roboto';
html{
  font-family: $base-font;
  //background-color:lightslategray;
}
/* Main Page Styling */
.nav{
  text-align: center;
  font-size: 30px;
}
/* Main Page Styling End */

/* Grid Styling */

.skiplist-form{
  margin-top: 100px;
  text-align: center;
}

.skiplist{
}

.modified-b{
  line-height: 20px;
}

.node-square{
  color: black;
  margin: 10px;
  width:60px;
  height:60px;
  outline-width: 2px;
  outline-color: black;
  outline-style: solid;

  &__text{
    text-align: center;
  }
}

.testing{
  color: black;
}